.add-div-form {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: rgb(87, 139, 184);
  border: 1px solid #040e15;
  border-radius: 5px;
}

.add-div-form label {
  display: block;
  margin-bottom: 10px;
  color: rgb(60, 57, 151);
}

.add-div-form label input {
  margin-top: 5px; 
}

.add-div-form input {
  width: calc(100% - 16px); 
  padding: 8px;
  box-sizing: border-box;
}

.add-div-form button {
  background-color: rgb(60, 57, 151);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px; 
}

/* Add a hover effect for the button */
.add-div-form button:hover {
  background-color: rgb(60, 57, 151);
}
